.service-holder{
display: flex;
width: 70%;
}
.service-image{
  width: 40%;
}
.service-description{
 width: 60%;
}
.in-touch-btn{
 width: 90%;
 padding: 6px 8px;
 font-weight: bold;
 border: 2px solid #ff6a13;
 background-color: #ffffff;
 outline: none;
 color: #ff6a13;
} 
.in-touch-btn:hover{
 cursor: pointer;
 width: 90%;
 padding: 6px 8px;
 font-weight: bold;
 border: 2px solid #ff6a13;
 background-color: #ff6a13;
 outline: none;
 color: #ffffff;
} 
.in-touch-btn:hover a{
 cursor: pointer;
 width: 90%;
 padding: 6px 8px;
 font-weight: bold;
 border: 2px solid #ff6a13;
 background-color: #ff6a13;
 outline: none;
 color: #ffffff;
} 
.call-book{
	text-decoration: none;
	color: #ff6a13;
}
.call-book:hover{
	text-decoration: none;
	color: #ffffff;
}


 /* profile */
 .badge-holder{
    width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.badge-container{
  flex: 1 1 310px; /*  Stretching: */
    flex: 0 1 310px; /*  No stretching: */
    margin: 5px;
}




@media (max-width: 800px) {
 .service-holder{
display: block;
width: 100%;
}
.service-image{
  width: 90%;
}
.service-description{
 width: 90%;
}
}

